<div class="container" style="padding-top: 70px;">
    <div class="row" class="gamer-box">
        <div class="col-12 col-xs-12 grid-edit">
            <span class="ui-float-label"> 
                <input type="text" [(ngModel)]="person.name" pInputText>
                <label for="float-input">Nome</label>
            </span>
        </div>
        <div class="col-12 col-xs-12 row grid-edit">
            <div class="col-3 col-xs-3">
                <img class="avatar-img" src="{{person.avatarUrl}}">
            </div>
            <div class="col-9 col-xs-9">
                <span class="ui-float-label"> 
                    <input type="text" [(ngModel)]="person.avatarUrl" pInputText style="width: 55%;">
                    <label for="float-input">Url Immagine Avatar</label>
                </span>
            </div>
        </div>
        <div class="col-12 col-xs-12 grid-edit">
            <p-button label="Aggiungi Gioco" (onClick)="addGame()" *ngIf="!aggiungiGioco"></p-button>
            <div class="row" *ngIf="aggiungiGioco">
                <div class="col-3 col-xs-3">
                    <span class="ui-float-label">
                        <input type="text" [(ngModel)]="newGame.name" pInputText>
                        <label for="float-input">Inserisci Nome</label>
                    </span>
                    
                    <!--<span class="ui-float-label">
                        <p-autoComplete inputId="autocomplete" (onSelect)="onSelection($event, newGame)" [(ngModel)]="selectedGame" [suggestions]="results" (completeMethod)="search($event)" [forceSelection]="true" [minLength]="3" [delay]="800" field="name">
                        </p-autoComplete>
                        <label for="autocomplete">Inserisci Nome</label>
                    </span>-->
                        
                       
                </div>
                <div class="col-3 col-xs-3">
                    <p-dropdown [options]="platforms" (onChange)="newGame.platform = selectedItem.value" [(ngModel)]="selectedItem" optionLabel="name" placeholder="Seleziona piattaforma"></p-dropdown>
                </div>
                
                <div class="col-4 col-xs-4">
                    <span *ngIf="!newGame.col">Percentuale di completamento: {{newGame.percentComp}}%</span>
                    <p-slider *ngIf="!newGame.col" [(ngModel)]="newGame.percentComp" min="1" max="100" step="1"></p-slider>
                    <p-progressBar *ngIf="newGame.col" pTooltip="La percentuale di completamento verrà calcolata automaticamente in base al completamento dei giochi contenuti nella collection" [value]="newGame.percentComp"></p-progressBar>
                </div>

                <div class="col-2 col-xs-2">
                    <p-checkbox pTooltip="Abilita la checkbox se il gioco che stai inserendo è una collection" binary="true" [(ngModel)]="newGame.col" label="Collection"></p-checkbox>
                </div>

                <div class="col-12 col-xs-12" *ngIf="newGame.col">
                    <div class="col-12 col-xs-12 row collection-padding" *ngFor="let gameFromCollection of newGame.collection; index as i">
                        <div class="col-3 col-xs-3" *ngIf="!gameFromCollection.modifica" [ngStyle]="{'font-family': fonts[newGame.platform] ? fonts[newGame.platform] : 'windows'}">
                            <span>{{gameFromCollection.name}}</span>
                        </div>
                        <div class="col-3" *ngIf="gameFromCollection.modifica">
                            <span class="ui-float-label">
                                <input type="text" [(ngModel)]="gameFromCollection.name" pInputText>
                                <label for="float-input">Inserisci Nome</label>
                            </span>
                        </div>
                        <div class="col-5 col-xs-5" *ngIf="gameFromCollection.modifica" style="text-align:center">
                            <span>{{gameFromCollection.percentComp}}%</span>
                            <p-slider [(ngModel)]="gameFromCollection.percentComp" min="1" max="100" step="1"></p-slider>
                        </div>
                        <div class="col-5" *ngIf="!gameFromCollection.modifica">
                            <p-progressBar [value]="gameFromCollection.percentComp"></p-progressBar>
                        </div>
                        <div class="col-1 col-xs-1" *ngIf="!gameFromCollection.modifica">
                            <p-button styleClass="ui-button-info" icon="fa fa-check" icon="faPencilAltCollectionFirst" (onClick)="modificaGiocoCollectionFirst(gameFromCollection)" *ngIf="!gameFromCollection.modifica">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </p-button>
                        </div>
                        <div class="col-1 col-xs-1" *ngIf="gameFromCollection.modifica">
                            <p-button styleClass="ui-button-info" icon="faPencilAltCollectionFirst" (onClick)="annullaModificaGiocoCollectionFirst(gameFromCollection)" *ngIf="gameFromCollection.modifica">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </p-button>
                        </div>
                        <div class="col-1 col-xs-1">
                            <p-button styleClass="ui-button-info" icon="faPencilAlt" (onClick)="eliminaGiocoCollectionFirst(i)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </p-button>
                        </div>
                    </div>
                    <div class="col-12 col-xs-12 row collection-padding">
                        <div class="col-3">
                            <span class="ui-float-label">
                                <input type="text" [(ngModel)]="newGameColl.name" pInputText>
                                <label for="float-input">Inserisci Nome</label>
                            </span>
                        </div>
                        <div class="col-5">
                            <span>Percentuale di completamento: {{newGameColl.percentComp}}%</span>
                            <p-slider [(ngModel)]="newGameColl.percentComp" min="1" max="100" step="1"></p-slider>
                        </div>
                        <div class="col-2">
                            <p-button label="Aggiungi Gioco alla Collection" (onClick)="saveGameToCollection()" [disabled]="!newGameColl.name || newGameColl.name.length === 0"></p-button>
                        </div>
                        
                    </div>
                </div>

                <div class="col-12 col-xs-12">
                    <p-button label="Aggiungi" (onClick)="saveGame()" *ngIf="aggiungiGioco" [disabled]="!newGame.name || newGame.name.length === 0"></p-button>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-xs-12 grid-edit" *ngIf="!person.gamesThisYear">
            <span>Non hai ancora inserito nessun gioco, clicca sul pulsante Aggiungi gioco</span>
        </div>
        <div class="col-12 col-xs-12 grid-edit" *ngIf="person.gamesThisYear">
            <div class="row" *ngFor="let game of person.gamesThisYear; index as i">
                <div class="games-box col-12 row">
                    <div class="col-2 col-xs-2" *ngIf="game.modifica">
                      <img *ngIf="game.collection && game.collection.length > 0 && !game.explode" pTooltip="{{game.name + ' è una collection. Clicca qui per vederne la composizione'}}" class="plus-img" src="assets/img/plus.png" (click)="game.explode = !game.explode">
                      <img *ngIf="game.collection && game.collection.length > 0 && game.explode" pTooltip="Clicca qui per minimizzare" class="plus-img" src="assets/img/minus.png" (click)="game.explode = !game.explode">
                      <img class="platform-img" src="{{logos[game.platform]}}" [ngStyle]="{'margin-left': game.collection && game.collection.length > 0 ? '0px' : '20px'}">
                    </div>
                    <div class="col-3 col-xs-2" *ngIf="!game.modifica">
                        <p-dropdown [options]="platforms" optionLabel="name" placeholder="Seleziona piattaforma" (onChange)="game.platform = selectedItem.value" [(ngModel)]="selectedItem"></p-dropdown>
                    </div>
                    <div class="col-5 col-xs-6 grid-cell" *ngIf="game.modifica" [ngStyle]="{'font-family': fonts[game.platform]}">
                        <span>{{game.name}}</span>
                    </div>
                    <div class="col-1 col-xs-6" *ngIf="game.modifica" style="cursor: pointer;padding-top:11px;">
                        <img class="comment-img" (click)="showCommentDialog(game, i)" src="assets/img/comment.png" *ngIf="!game.comment" pTooltip="{{'Inserisci commento per ' + game.name}}" tooltipPosition="top">
                        <img class="comment-img" (click)="showCommentDialog(game, i)" src="assets/img/comment.png" *ngIf="game.comment" pTooltip="{{'Modifica commento per ' + game.name}}" tooltipPosition="top">
                    </div>
                    <div class="col-5 col-xs-6" *ngIf="!game.modifica">
                        <span class="ui-float-label">
                            <input type="text" [(ngModel)]="game.name" pInputText>
                            <label for="float-input">Inserisci Nome</label>
                        </span>
                    </div>
                    <!--<div class="col-2 grid-cell-status">{{game.status === 0 ? 'In corso' : 'Completato'}}</div>-->
                    <div class="col-2 col-xs-2" *ngIf="game.modifica" style="padding-top: 15px;">
                      <div>
                        <!--<div class="progress-bar" [ngStyle]="{'width': game.percentComp + '%'}">{{game.percentComp}}%</div>-->
                        <p-progressBar [value]="game.percentComp"></p-progressBar>
                      </div>
                    </div>
                    <div class="col-2 col-xs-2" *ngIf="!game.modifica" style="text-align:center">
                        <span>{{game.percentComp}}%</span>
                        <p-slider [(ngModel)]="game.percentComp" min="1" max="100" step="1"></p-slider>
                    </div>
                    <div class="col-1 col-xs-1" *ngIf="game.modifica" style="padding-top: 13px;">
                        <p-button styleClass="ui-button-info" icon="fa fa-check" icon="faPencilAlt" (onClick)="modificaGioco(game)" *ngIf="game.modifica">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                        </p-button>
                    </div>
                    <div class="col-1 col-xs-1" *ngIf="!game.modifica" style="padding-top: 13px;">
                        <p-button styleClass="ui-button-info" icon="faPencilAlt" (onClick)="annullaModificaGioco(game)" *ngIf="!game.modifica">
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </p-button>
                    </div>
                    <div class="col-1 col-xs-1" style="padding-top: 13px;">
                        <p-button styleClass="ui-button-info" icon="faPencilAlt" (onClick)="eliminaGioco(i)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </p-button>
                    </div>

                    <div class="col-12 col-xs-12" *ngIf="game.col && game.explode" style="margin-left: 5%;">
                        <div class="col-12 col-xs-12 row collection-padding" *ngFor="let gameFromCollection of game.collection; index as j">
                            <div class="col-3 col-xs-3" *ngIf="!gameFromCollection.modifica" [ngStyle]="{'font-family': fonts[game.platform] ? fonts[game.platform] : 'windows'}">
                                <span>{{gameFromCollection.name}}</span>
                            </div>
                            <div class="col-3" *ngIf="gameFromCollection.modifica">
                                <span class="ui-float-label">
                                    <input type="text" [(ngModel)]="gameFromCollection.name" pInputText>
                                    <label for="float-input">Inserisci Nome</label>
                                </span>
                            </div>
                            <div class="col-5 col-xs-5" *ngIf="gameFromCollection.modifica" style="text-align:center">
                                <span>{{gameFromCollection.percentComp}}%</span>
                                <p-slider [(ngModel)]="gameFromCollection.percentComp" min="1" max="100" step="1"></p-slider>
                            </div>
                            <div class="col-5" *ngIf="!gameFromCollection.modifica">
                                <p-progressBar [value]="gameFromCollection.percentComp"></p-progressBar>
                            </div>
                            <div class="col-1 col-xs-1" *ngIf="!gameFromCollection.modifica">
                                <p-button styleClass="ui-button-info" icon="fa fa-check" icon="faPencilAltCollectionFirst" (onClick)="modificaGiocoCollection(i, j, gameFromCollection)" *ngIf="!gameFromCollection.modifica">
                                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                                </p-button>
                            </div>
                            <div class="col-1 col-xs-1" *ngIf="gameFromCollection.modifica">
                                <p-button styleClass="ui-button-info" icon="faPencilAltCollectionFirst" (onClick)="annullaModificaGiocoCollection(i, j, gameFromCollection)" *ngIf="gameFromCollection.modifica">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </p-button>
                            </div>
                            <div class="col-1 col-xs-1">
                                <p-button styleClass="ui-button-info" icon="faPencilAlt" (onClick)="eliminaGiocoCollection(i, j, gameFromCollection)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </p-button>
                            </div>
                        </div>
                        <div class="col-12 col-xs-12 row collection-padding">
                            <div class="col-3">
                                <span class="ui-float-label">
                                    <input type="text" [(ngModel)]="newGameColl.name" pInputText>
                                    <label for="float-input">Inserisci Nome</label>
                                </span>
                            </div>
                            <div class="col-5">
                                <span>Percentuale di completamento: {{newGameColl.percentComp}}%</span>
                                <p-slider [(ngModel)]="newGameColl.percentComp" min="1" max="100" step="1"></p-slider>
                            </div>
                            <div class="col-2">
                                <p-button label="Aggiungi Gioco alla Collection" (onClick)="saveGameToCollection()" [disabled]="!newGameColl.name || newGameColl.name.length === 0"></p-button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11 col-xs-11"></div>
                <div class="col-1 col-xs-1">
                    <p-button label="Salva" [disabled]="!person.gamesThisYear || person.gamesThisYear.length === 0" (onClick)="saveProfile()"></p-button>
                </div>
            </div>
            <div class="row" *ngIf="!person.gamesThisYear || person.gamesThisYear.length === 0">
                <div class="col-12" style="color:red; font-weight: bold;">
                    <span>Devi inserire un gioco per poter salvare il profilo</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{modalGame.name}}" [(visible)]="modalDisplay" [modal]="true" *ngIf="createModal" (onHide)="digestClose()">
    <div class="container">
        <div class="row">
            <div class="col-12 grid-modal">
                <span class="ui-float-label"> 
                    <input type="text" [(ngModel)]="modalGame.logo" pInputText class="logo-input-modal">
                    <label for="float-input">Inserisci URL immagine del gioco</label>
                </span>
            </div>
            <div class="col-12 grid-modal" style="text-align: center;" *ngIf="modalGame.logo">
                <img class="img-modal" src="{{modalGame.logo}}">
            </div>
            <div class="col-12 grid-modal" style="text-align: center;" *ngIf="!modalGame.logo">
                <img class="img-modal" src="assets/img/no_game_img.png">
            </div>
            <div class="col-12 grid-modal ">
                <span class="ui-float-label"> 
                    <textarea class="text-area-modal" pInputTextarea [(ngModel)]="modalGame.comment"></textarea>
                    <label for="float-input">Inserisci commento al gioco</label>
                </span>
            </div>
            <div class="col-6 grid-modal">
                <span>Numero di ore giocate: {{modalGame.hours ? modalGame.hours : 0}}</span>
                <p-slider [(ngModel)]="modalGame.hours" min="1" max="500" step="1"></p-slider>
            </div>
            <div class="col-6 grid-modal rating" style="text-align: right;">
                <span>Vota il tuo gioco: {{modalGame.rating ? modalGame.rating : 0}}/5</span>
                <p-rating [cancel]="false" [(ngModel)]="modalGame.rating"></p-rating>
            </div>
            <div class="col-12 grid-modal">
                <p-button label="Salva" (onClick)="saveGameInfo()" [disabled]="!modalGame.comment || !modalGame.hours"></p-button>
                <div style="text-align: right; color: green; font-weight: bolder;" *ngIf="!modalGame.comment || !modalGame.hours">Per salvare devi inserire un commento e il numero di ore giocate</div>
            </div>
        </div>
    </div>
</p-dialog>