<div class="container">
    <div class="row">
        <div class="input-login col-12">
            <span class="ui-float-label"> 
                <input type="text" [(ngModel)]="username" pInputText>
                <label for="float-input">Inserisci Username</label>
            </span>
        </div>
        <div class="input-login col-12">
            <span class="ui-float-label"> 
                <input type="password" [(ngModel)]="pwd" pPassword [promptLabel]="''" [weakLabel]="'Debole'" [mediumLabel]="'Medio'" strongLabel="'Difficile'">
                <label for="float-input">Inserisci Password</label>
            </span>
        </div>
        <div class="button-login col-12">
            <p-checkbox binary="true" [(ngModel)]="rememberMe" label="Ricordami"></p-checkbox>
        </div>
        <div class="button-login col-12">
            <p-button label="LOGIN" (onClick)="login()" [disabled]="verifyInput()"></p-button>
        </div>
        
        
       <div class="col-12" *ngIf="loginFallito">
            <span>Username o password errati</span>
       </div>
    </div>
</div>
