<div class="container">
    <div style="padding-top:3%;">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img src="assets/img/annotanano_logo.png">
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="input-login col-4">
                <span class="ui-float-label"> 
                    <input type="text" [(ngModel)]="username" pInputText>
                    <label for="float-input">Inserisci Username</label>
                </span>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="input-login col-4">
                <span class="ui-float-label"> 
                    <input type="password" [(ngModel)]="pwd" pPassword [promptLabel]="''" [weakLabel]="'Debole'" [mediumLabel]="'Medio'" strongLabel="'Difficile'">
                    <label for="float-input">Inserisci Password</label>
                </span>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="button-login col-4" *ngIf="false">
                <p-checkbox binary="true" [(ngModel)]="rememberMe" label="Ricordami"></p-checkbox>
            </div>
            <div class="button-login col-4">
                <p-button label="LOGIN" (onClick)="login()" [disabled]="verifyInput()"></p-button>
            </div>
            <div class="col-4"></div>
        </div>
        
        
        
       <div class="row" *ngIf="loginFallito">
        <div class="col-4"></div>
        <div class="col-4">
            <span style="font-weight: bold;color: red;">Username o password errati</span>
        </div>
        <div class="col-4"></div>
            
       </div>
    </div>
</div>
