.order-combo-box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.gamer-box {
  background-color: beige;
  margin-bottom: 20px;
}

.crown-img {
  height: 40px;
    z-index: 10;
    position: absolute;
}

.avatar-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-height: 150px;
}

.avatar-img {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid darkgoldenrod;
  box-shadow: 2px 2px;
}

.person-name {
  padding-left: 20px;
  padding-top: 16%;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.platform-img {
  max-width: 100px;
  max-height: 100px;
  padding-right: 15px;
}

.gamer-box {
  width: 100%;
  border: 2px solid gold;
}

.games-box {
  display: inline-flex;
  padding-left: 20px;
  width: 100%;
}

.games-grid {
  padding-bottom: 5px
}

.grid-cell {
  padding-top: 20px;
  font-weight: 600;
}

.grid-cell-status {
  padding-top: 20px;
  text-align: center;
}

.badge-class {
  max-width: 100px;
  max-height: 100px;
}

.progress-bar-full {
  width: 100%;
  background-color: crimson;
  height: 25px;
  margin-top: 18px;
}

.progress-bar {
  background-color: chartreuse;
  height: inherit;
}

