/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: mephisto;
    src: url(assets/font/MEPHISTO.TTF) format("opentype");
}

@font-face {
    font-family: nintendo;
    src: url(assets/font/Pretendo.ttf) format("opentype");
}

@font-face {
    font-family: xbox;
    src: url(assets/font/X360.ttf) format("opentype");
}

@font-face {
    font-family: windows;
    src: url(assets/font/windows.ttf) format("opentype");
}

@font-face {
    font-family: playstation;
    src: url(assets/font/playstation.ttf) format("opentype");
}





    

    

    